body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

img {
    width: 100px;
    height: 100px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}
.container {
    display: flex;
    margin: auto;
    max-width: 1260px;
    padding: 4rem 2rem;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    max-width: 200px;
}